# Default ignored files
/shelf/
/.idea/
/build
/.gradle
# Datasource local storage ignored files
/../../../../:\Java\DeathSwap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
